.row-content.selected::before {
    background-color: black;
    color: white;
}

button svg {
    width: 20px;
}

.editor .pell-content {
    min-height: 25px;
}

.ql-bubble .ql-tooltip {
    z-index: 1;
}

.editor .ql-editor {
    padding: 0px;
}